input.standard, input.standard2 {
  border-bottom: 0.2em solid black;
}
input.standard {
  width: 90%;
}
input.standard2 {
  width: 60%;
  text-align: center;
}
form  {
  display: block;
}
#contact-form {
  margin-left: 2em;
}
textarea  {
  border: 0.2em solid black;
  width: 90%;
}
.form-buttons {
  background-color: var(--button-color);
  color: white;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  padding-right: 1.5em;
}
.form-buttons:hover {
   opacity: 0.8;
   color: black;
}
label {
  font-size: 24px;
}
