@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap";
/* Does a hard reset of the webpage so the white space at the top is eliminated */
/* * is fancy HTML5 attribute that selects every element */
*  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}
:root {
  --main-bg: #EAE7DC;
  --bg-accent: #D8C3A5;
  --accent: #8E8D8A;
  --main-accent: #E98074;
  --accent-main-shade: #E85A4F;
}
.flexbox-standard1 {
  text-align: center;
  color: black;
  width: 18em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.flexbox-standard2 {
  text-align: center;
  color: black;
  width: 18em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  background-color: blue;
}
.flexbox-standard2 img {
   width: 20em;
}
.flexbox-wrapper1  {
  justify-content: center;
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
}
.flexbox-wrapper2  {
  justify-content: center;
  margin-left: 4em;
  margin-right: 4em;
}
.flexbox-2col-left {
  width: 66%;
  display: block;
}
.flexbox-2col-right {
  width: 33%;
  display: block;
}
.flexbox-wrapper1 img {
   max-width: 100%;
}
/*div.section2-images p {
  padding-bottom: 60px;
}*/
footer  {
  background-color: #24305E;
}
footer  p   {
  color: white;
  text-align: center;
}
footer p.top  {
  padding-top: 0.5em;
}
footer p.bottom {
  padding-bottom: 0.5em;
}
button.swap-button-left, button.swap-button-right {
   height: 8em;
   width: 2em;
   color: white;
   background-color: black;
}
.button-wrapper {
  text-align: center;
  color: black;
  width: 4em;
  display: block;
  text-align: center;
  background-color: blue;
}
button.swap-button-left {
  margin-left: 25em;
}
button.swap-button-right {
  margin-right: 25em;
}
footer:before, footer:after {
  content: "";
  display: table;
  line-height: 0;
}
footer:after {
  clear: both;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
