h1  {
  font-weight: 500;
  font-size: 3em;
  color: var(--header-color);
  margin-bottom: 0.3em;
}
h1.title, h3.subtitle {
  text-align: center;
}
h3 {
  font-size: 1.5em;
  font-weight: 250;
  color: black;
}
h3.sub-name {
  font-size: 1.5em;
  font-weight: 250;
}
h4 {
  font-size: 1.25em;
  font-weight: 200;
}
h4.rocket-names {
  text-align: center;
}

.carousel-caption h3 {
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "aileron", sans-serif;
}
