/*Sets the overall color of the navbar, handles overall values*/
ul.nav {
  margin: 0;
  list-style: none;
  background-color: #901414;
  text-align: center;
  width: 100%;

}
li.nav {
  border: 0.125em solid black;
}
/*Handles the text around the navbar*/
a.nav  {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  padding: 0;
}
a.nav:hover {
  transition: all 0.5s ease-in-out;
  font-weight: 800;
}
