nav {
  border-bottom: 1px solid #8E8DBA;
}
nav img {
  width: 25%;
}
.nav-link:hover {
  text-decoration: underline;
}
.dropdown-item:hover {
  text-decoration: underline;
}
.nav-link {
  transition: text-decoration 10s;
  text-decoration: none;
}
.navbar-nav .nav-item a.nav-link {
  color: #8E8DBA;
}

@media (min-width: 768px)
  {
    .navbar-nav > li {
    display: inline-block;
    float:none;
    }
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
  }
