.flexbox-standard1 {
  width: 40%;
}

.flexbox-standard2 {
  width: 28%;
}
.flexbox-2col-left {
  width: 66%;
}
.flexbox-2col-right {
  width: 33%;
}
.flexbox-wrapper1  {
  flex-direction: row;
  align-items: stretch;
}
.flexbox-wrapper2  {
  flex-direction: row;
  align-items: stretch;
}
section.slideshow {
  width: 80%;
}
.flexbox-3col {
  width: 40%;
}

.flexbox-2eqcol {
  width: 30%;
  flex-direction: row;
}
.flexbox-2eqcol img {
  max-width: 100%;
}
